<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="theme-color" content="#FFFFFF">

  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <title><%= item.name %> | ClickityClack</title>

  <script type="text/javascript">
    var eventid = '<%= item._id %>';
    var prevcount = <%= item.count %>;
    var cur = <%= item.count %>;
    var cap = <%= item.cap %>
  </script>
  <script type="text/javascript" src="/js/event.js"></script>
</head>
<body>
  <section id="topbtn">
    <button id="increment" name="up" class="ripple" data-ripple-color="green">
      <div id="top-image"></div>
    </button>
  </section>
  <section id="label">
    <p id="count"><%= item.count %></p>
  </section>
  <section id="botbtn">
    <button id="decrement" name="down" class="ripple" data-ripple-color="red">
      <div id="bottom-image"></div>
    </button>
  </section>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.6/hammer.min.js"></script>
  <script type="text/javascript">

      var rippleElements = document.getElementsByClassName("ripple");

      var rippleEffect = function(event){
        var sender = this;

        var div = document.createElement('div');
        div.className = 'ripple-effect';

        var topDistance = '0%';
        if (event.target.id !== 'decrement') {
          topDistance = '100%'
        }

        div.style.top = topDistance;
        div.style.background = sender.dataset.rippleColor;

        sender.appendChild(div);

        window.setTimeout(function(){
          sender.removeChild(div);
        }, 1000);
      };

      for (var i = 0; i < rippleElements.length; i++) {
        rippleElements[i].addEventListener('click', rippleEffect, false);
      }

  </script>
  <script type="text/javascript">
    var swipeController = new Hammer(document);
    swipeController.get('swipe').set({ direction: Hammer.DIRECTION_VERTICAL });
    swipeController.on('swipeup', function(ev) {
      document.getElementById('increment').click();
    });
    swipeController.on('swipedown', function(ev) {
      document.getElementById('decrement').click();
    });
  </script>
</body>
</html>
