<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="theme-color" content="#FFFFFF">

  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <title><%= item.name %> | <%= item.count %>/<%= item.cap %></title>

  <!-- Socket.io  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

  <script type="text/javascript">
    var eventid = '<%= item._id %>';
    var name = '<%= item.name %>';
    var count = <%= item.count %>;
    var cap = <%= item.cap %>
  </script>
  <script type="text/javascript" src="/js/event.js"></script>

  <!-- Hammer.js for swipe-to-click on mobile -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  <script type="text/javascript" src="/js/swipe.js"></script>
</head>
<body>
  <section id="eventname">
    <p id="name"><%= item.name %></p>
  </section>
  <section id="topbtn">
    <button id="increment" name="up" class="ripple" data-ripple-color="green" disabled>
      <div id="top-image"></div>
    </button>
  </section>
  <section id="label">
    <p id="count"><%= item.count %></p>
  </section>
  <section id="botbtn">
    <button id="decrement" name="down" class="ripple" data-ripple-color="red" disabled>
      <div id="bottom-image"></div>
    </button>
  </section>
</body>
</html>
